@import "../common/form.scss";
@import '~cropperjs/dist/cropper.min';

.custom-actions {
	&> div,
	&>button {
		margin: 2px;
	}
}

.custom-actions,
.inner-group-button {
	button {
		padding: 0.2rem 0.5rem;
	}
}

.frappe-control.has-error {
	.form-control {
		border-color: var(--error-border);
		background-color: var(--error-bg);
		.input-with-feedback {
			background-color: var(--error-bg);
		}
	}
}

.std-form-layout > .form-layout > .form-page {
	border-radius: var(--border-radius-md);
	box-shadow: var(--card-shadow);
	background-color: var(--card-bg);
}

.form-section, .form-dashboard-section {
	margin: 0px;

	.form-section-description {
		margin-bottom: 10px;
		font-size: var(--text-xs);
		color: var(--text-muted);
	}

	.section-head {
		@extend .head-title;
		font-size: var(--text-base);
		width: 100%;
		padding: var(--padding-sm) var(--padding-md);
		margin: 0;
		margin-bottom: var(--margin-sm);
		cursor: pointer;
		&:first-child {
			margin-top: var(--margin-sm);
		}

		.collapse-indicator {
			color: var(--text-muted);
			float: right;
		}

	}
	.section-head.collapsed {
		margin-bottom: 0px;
	}

	.section-body {
		width: 100%;
		@extend .row;
		margin: 0;
		&:first-child {
			margin-top: var(--margin-sm);
		}
	}
}

.empty-section {
	display: none !important;
	border: 0 !important;
}

.form-section.card-section,
.form-dashboard-section {
	border-bottom: 1px solid var(--border-color);
	padding: var(--padding-xs);
}

.row.form-section.card-section.visible-section:last-child {
	border-bottom: none;
}

.form-dashboard-section {
	.section-body:first-child {
		margin-top: 0;
	}
	.section-body {
		display: block;
		padding: var(--padding-md);
		padding-top: 0;
	}

	h6 {
		color: var(--blue-400);
	}

	.btn-new > .icon {
		stroke: var(--yellow-200);
	}

	.section-head {
		color: var(--yellow-400);
	}
}

.control-label,
.grid-heading-row {
	color: var(--text-light);
	font-size: var(--text-sm);
}

.control-label {
	margin-bottom: var(--margin-xs);
	font-weight: normal;
}

.form-inner-toolbar {
	padding-top: var(--padding-md);
	text-align: right;
}

.form-control:disabled, .form-control[readonly] {
	cursor: not-allowed;
}

.comment-box {
	@include card();
	margin-top: var(--margin-lg);
	padding: var(--padding-lg);
	.comment-input-header {
		@extend .head-title;
		margin-bottom: var(--margin-sm);
	}
	.comment-input-container {
		.frappe-control {
			margin-bottom: var(--margin-xs);
		}
		.ql-editor {
			background-color: var(--control-bg);
			border-color: var(--gray-400);
			border-style: none none solid;
			border-width: 1px;
		}
	}

	.btn-comment {
		margin-top: var(--margin-md);
	}
}

.form-dashboard-wrapper {
	width: 100%;
}

.form-links {
	color: var(--text-color);
	.form-link-title {
		margin-top: var(--margin-md);
		margin-bottom: var(--margin-sm);
		font-weight: var(--text-bold);
		padding: 0 var(--padding-xs);
	}
	.form-documents:first-of-type .row:first-child {
		.form-link-title {
			margin-top: 0;
		}
	}
	.document-link {
		margin-bottom: var(--margin-xs);
		.document-link-badge,
		.report-link-badge {
			font-size: var(--text-sm);
			color: var(--text-light);
			padding: 0 var(--padding-xs);
			border-radius: var(--border-radius);
			display: inline-flex;
			.badge-link:hover:not([disabled="disabled"]),
			.report-link:hover:not([disabled="disabled"]) {
				text-decoration: underline;
			}
		}
		.count {
			font-size: var(--text-xs);
			border-radius: var(--border-radius-sm);
			color: var(--text-muted);
			padding: 0 var(--padding-xs);
		}
		.open-notification {
			background-color: var(--pacific-blue-400);
			font-size: var(--text-xs);
			padding: 0 var(--padding-sm);
			color: white;
			border-radius:10px;
			cursor: pointer;
		}
	}
}

.inline-graph {
	.inline-graph-half {
		width: 48%;
		display: inline-block;
		position: relative;
		height: 30px;

		.inline-graph-count {
			font-size: 10px;
			position: absolute;
			left: 0;
			right: 0;
			top: 3px;
			padding: 0px 5px;
			text-align: left;
		}
		.inline-graph-bar {
			position: absolute;
			left: 0;
			right: 0;
			top: 20px;
		}
		.inline-graph-bar-inner {
			display: block;
			float: left;
			background-color: var(--border-color);
			height: 6px;
			border-radius: 0px 3px 3px 0px;
		}
		.inline-graph-bar-inner.dark {
			background-color: var(--primary-color);
		}
		.inline-graph-bar-inner.warn {
			background-color: var(--orange-500);
		}

	}
	.inline-graph-half:first-child {
		border-right: 1px solid var(--border-color);
		margin-right: -3px;

		.inline-graph-count {
			text-align: right;
		}

		.inline-graph-bar-inner {
			float: right;
			border-radius: 3px 0px 0px 3px;
		}
	}
}

.frappe-rtl .inline-graph {
	direction: ltr;
	display: block;
	transform: scaleX(-1);
	.inline-graph-count {
		transform: scaleX(-1);
		text-align: right;
	}
	.inline-graph-half:first-child .inline-graph-count {
		text-align: left;
	}
}

@mixin form-message-background($color) {
	background: var(--bg-#{$color});
	color: var(--text-on-#{$color});
}


.form-message {
	border-radius: var(--border-radius);
	padding: var(--padding-md) var(--padding-xl);
	font-size: var(--text-md, 13px);
	margin-bottom: var(--margin-md);
	box-shadow: var(--card-shadow);

	&.blue {
		@include form-message-background("blue");
	}

	&.green {
		@include form-message-background("green");
	}

	&.yellow {
		@include form-message-background("yellow");
	}

	&.orange {
		@include form-message-background("orange");
	}

	&.red {
		@include form-message-background("red");
	}
}

.help-box {
	margin-top: 4px;
	margin-bottom: 8px;
	line-height: 1.6;
}

.form-heatmap {
	.heatmap {
		display: flex;
		justify-content: center;

		.chart-container {
			margin: 0px;
		}

		.chart-legend {
			display: none;
		}
	}

	@media (max-width: map-get($grid-breakpoints, "md")) {
		overflow: hidden;
		overflow-x: scroll;
	}
}

.form-group {
	&.frappe-control:last-child {
		margin-bottom: 0;
	}
	&:last-child.frappe-control[data-fieldtype="Table"] {
		margin-bottom: 0;
	}
}

.form-footer {
	h5 {
		margin: 15px 0px;
		font-weight: bold;
	}
	position: relative;
	.scroll-to-top {
		position: absolute;
		height: 28px;
		right: 0;
	}
}

.form-tabs-list {
	padding-left: var(--padding-xs);
	border-bottom: 1px solid var(--border-color);

	.form-tabs {
		.nav-item {
			.nav-link {
				color: var(--text-muted);
				padding: var(--padding-md) 0;
				margin: 0 var(--margin-md);

				&.active {
					font-weight: 600;
					border-bottom: 1px solid var(--primary);
					color: var(--text-color);
				}
			}
		}
	}
}

.progress-area {
	padding-top: var(--padding-md);
	padding-bottom: var(--padding-md);

	.progress-chart {
		padding-top: var(--padding-lg);
	}

	.progress {
		margin-bottom: var(--margin-xs);
	}

	.progress-message {
		font-feature-settings: "tnum" 1;
		margin-top: 0px;
	}
}

// above mobile
@media (min-width: map-get($grid-breakpoints, "md")) {
	.layout-main .form-column.col-sm-12 > form > .input-max-width {
		max-width: 50%;
		padding-right: 15px;
	}

	// don't max-width when in form-grid with half width
	.col-sm-6 .form-grid .form-column.col-sm-12 > form > .input-max-width {
		max-width: none;
		padding-right: 0px;
	}

	.form-column.col-sm-6 textarea[data-fieldtype="Code"] {
		height: 120px !important;
	}
}

// upto tablets
@media (max-width: map-get($grid-breakpoints, "md")) {
	.form-section .form-section-heading {
		margin-top: 10px;
	}
}

// mobile
@media (max-width: map-get($grid-breakpoints, "sm")) {
	// padding to form section on mobile
	.form-column:not(:last-child) {
		border-bottom: 1px solid var(--border-color);
	}

	.form-column:not(:first-child) {
		padding-top: var(--padding-md);
	}
}
