<!DOCTYPE html>
<html data-theme-mode="{{ desk_theme.lower() }}" data-theme="{{ desk_theme.lower() }}" dir={{ layout_direction }} lang="{{ lang }}">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#6195ff">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#6195ff">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#6195ff">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,
		maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Dodock</title>
	<link rel="shortcut icon"
		href="{{ favicon or "/assets/frappe/images/favicon.png" }}" type="image/x-icon">
	<link rel="icon"
		href="{{ favicon or "/assets/frappe/images/favicon.png" }}" type="image/x-icon">
	{% for include in include_css -%}
	{{ include_style(include) }}
	{%- endfor -%}
</head>
<body class="full-width" data-theme="{{ desk_theme.lower() }}">
	{% include "public/icons/timeless/symbol-defs.svg" %}
	<div class="centered splash">
		<img src="{{ splash_image or "/assets/frappe/images/dokos-logo-round.png" }}" style="max-width: 100px; max-height: 100px;">
	</div>
	<div class="main-section">
		<header></header>
		<div id="modules-menu"></div>
		<div id="body"></div>
		<footer></footer>
	</div>

	<div id="build-events-overlay"></div>

	<script type="text/javascript">
		window._version_number = "{{ build_version }}";
		// browser support
		window.app = true;
		window.dev_server = {{ dev_server }};

		if (!window.frappe) window.frappe = {};

		frappe.boot = {{ boot }};
		frappe._messages = frappe.boot["__messages"];
		frappe.csrf_token = "{{ csrf_token }}";
	</script>

	{% for include in include_js %}
	{{ include_script(include) }}
	{% endfor %}

	{% include "templates/includes/app_analytics/google_analytics.html" %}
	{% include "templates/includes/app_analytics/mixpanel_analytics.html" %}

	{% for sound in (sounds or []) %}
	<audio preload="auto" id="sound-{{ sound.name }}" volume={{ sound.volume or 1 }}>
		<source src="{{ sound.src }}"></source>
	</audio>
	{% endfor %}
</body>
